.primary-btn {
  min-width: 6rem !important;
  border-radius: 20px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: $primary !important;
  // text-transform: none !important;
}
