.primary-btn {
  min-width: 6rem !important;
  border-radius: 5px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: $primary !important;
}
.secondary-btn {
  text-transform: none !important;
  min-width: 5rem !important;
}
.error-btn {
  min-width: 5rem !important;
  text-transform: none !important;
  background-color: $error !important;
}
.load-more-btn {
  margin: 0 !important;
  outline: none !important;
  border: none !important;
  text-transform: none !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-decoration: underline !important;
  color: $light-secondary !important;
  font-family: "Poppins", sans-serif !important;
  &:hover {
    background-color: transparent !important;
    color: black !important;
  }
}

.login-btn {
  background: #e86917 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: normal !important;
  border: none !important;
  min-height: 50px !important;
  text-transform: none !important;
  border-radius: 5px !important;
}
.adding-btn {
  background: #233eae !important;
  color: #ffffff !important;
  text-transform: none !important;
  outline: none !important;
  border: none !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  min-width: 12.5rem !important;
  margin-top: 2rem !important;
  border-radius: 6px !important;
  margin-right: 5px !important;
}
.cancel-btn {
  background: #ffffff !important;
  color: #27272a !important;
  text-transform: none !important;
  outline: none !important;
  border: 1px solid #d4d4d8 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  min-width: 12.5rem !important;
  margin-top: 2rem !important;
  border-radius: 6px !important;
}
