$backgroundImage: url("../../../public/SideBar.png"); // Adjust the path
.side-menu-bar {
  height: 100%;
  background: $secondary;
  color: $white;
  background-image: $backgroundImage;

  .drawer-head {
    display: flex;
    justify-content: center;
    background: $primary-2;
  }
  .list-container {
    height: calc(100% - 7rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    width: 60%;
  }
  .active-page-text {
    font-size: 12px;
    padding: 16px 0 0 16px;
  }
  .MuiList-root {
    background: transparent;
  }
  .MuiListItemButton-root {
    width: 80%;
    margin: auto;
    border-radius: 4px;
    &:hover {
      background: $navbar-btn-hover;
    }
  }

  .expand-able {
    &:hover {
      background: none !important;
    }
  }

  .navbar-btn-active {
    margin: auto;
    width: 80%;
    border-radius: 4px;
    background: $navbar-btn-hover;
  }

  .MuiListItemIcon-root {
    color: white;
  }
  .personal-info-container {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0 auto;

    .avatar-info > img {
      width: auto;
    }

    .personal-info {
      display: flex;
      flex-direction: column;
      

      .name {
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
      }
      .email {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

.main-nav {
  margin: 10px auto 0px 20px !important;
  width: 90% !important;
  margin-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 20px !important;
  .MuiListItemIcon-root {
    min-width: 35px;
  }
}

.mt-10 {
  margin-top: 10px !important;
}