.table-container {
  float: right;
  margin-top: 5rem;
  width: 100%;
  max-width: calc(100% - 300px);
  height: calc(100vh - 5rem);

  .table-list {
    height: 100vh;
  }
}
.table-pagination {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 2px solid #DFDFDF;
  

  .MuiTextField-root {
    margin: 0 1rem 0 0.5rem;
    outline: none !important;
    border: none !important;
    height: 2rem;
    width: 3rem;
    input {
      padding: 5px;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      opacity: 1;
    }
  }
  .MuiPaginationItem-previousNext {
    background: silver;
  }
  .Mui-selected,
  .Mui-focusVisible {
    background: orange !important;
  }
}
