.userlist-default {
  padding: 0 2rem;
  width: 100%;
  margin-left: 4rem;
  //   padding-bottom: 4rem;
  margin-top: 4rem;
  height: 92vh;
  padding-top: 1rem;
  max-width: calc(100% - 64px);
  background-color: #f4f5f8;
  transition: all 0.195s ease-in-out !important;
  //   margin-bottom: 4rem;
}
.userlist-open {
  padding: 0 2rem;
  width: 85%;
  margin-left: 18.7rem;
  margin-top: 4rem;
  height: 92vh;
  padding-top: 1rem;
  max-width: calc(100% - 300px);
  background-color: #f4f5f8;
  margin-bottom: 1rem;
  transition: all 0.225s ease-in-out !important;
}
