.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.m-0 {
  margin: 0;
}
.font {
  font-size: 10px;
}
// .draweropen {
//   transition: all 0.225s ease-in-out !important;
//   max-width: calc(100% - 64px);
// }
// .drawerclose {
//   max-width: calc(100% - 300px);
//   transition: all 0.195s ease-in-out !important;
// }
