.float-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex !important;
}

.justify-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

.justify-between {
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
}

.p-10 {
  padding: 20px;
}

.align-center {
  align-items: center;
}

// .active-user {
//   &:hover {
//     background-color: #f1f7ff;
//     border-radius: 5px;
//     color: #ffffff;
//     .suggestion_box {
//       background-color: transparent;
//     }
//   }
//   // &:hover {
//   //   border-radius: 0px;
//   // }
// }

.pl-10 {
  padding-left: 10px;
}

.justify-end {
  justify-content: end !important;
}
