.float-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex !important;
}

.justify-center {
  justify-content: center;
}

.p-10 {
  padding: 20px;
}

.align-center {
  align-items: center;
}

.active-user {
  &:hover {
    background-color: #FFB526;
    border-radius: 5px;
    color: #FFFFFF;
    .suggestion_box {
      background-color: transparent;
    }

  }
    // &:hover {
    //   border-radius: 0px;
    // }

}
 