.float-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex !important;
}

.justify-center {
  justify-content: center;
}

.p-10 {
  padding: 20px;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-0 {
  margin: 0;
}

.table-container {
  float: right;
  margin-top: 5rem;
  width: 100%;
  max-width: calc(100% - 300px);
  height: calc(100vh - 5rem);
}
.table-container .table-list {
  height: 100vh;
}
.table-container .MuiTableCell-root {
  padding: 5px 10px;
}

.table-pagination {
  position: sticky;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 2px solid #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-pagination .MuiTextField-root {
  margin: 0 1rem 0 0.5rem;
  outline: none !important;
  border: none !important;
  height: 2rem;
  width: 3rem;
}
.table-pagination .MuiTextField-root input {
  padding: 5px;
}
.table-pagination .MuiTextField-root input[type=number]::-webkit-inner-spin-button,
.table-pagination .MuiTextField-root input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
.table-pagination .MuiPaginationItem-previousNext {
  background: silver;
}
.table-pagination .Mui-selected,
.table-pagination .Mui-focusVisible {
  background: orange !important;
}

.primary-btn {
  min-width: 6rem !important;
  border-radius: 5px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: #233eae !important;
}

.secondary-btn {
  text-transform: none !important;
  min-width: 5rem !important;
}

.error-btn {
  min-width: 5rem !important;
  text-transform: none !important;
  background-color: #dc2626 !important;
}

.load-more-btn {
  margin: 0 !important;
  outline: none !important;
  border: none !important;
  text-transform: none !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-decoration: underline !important;
  color: #6c757d !important;
  font-family: "Poppins", sans-serif !important;
}
.load-more-btn:hover {
  background-color: transparent !important;
  color: black !important;
}

.login-btn {
  background: #e86917 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: normal !important;
  border: none !important;
  min-height: 50px !important;
  text-transform: none !important;
  border-radius: 5px !important;
}

.side-menu-bar {
  height: 100%;
  background: #383f51;
  color: #fff;
  background-image: url("../../../public/SideBar.png");
  background-size: cover;
}
.side-menu-bar .drawer-head {
  display: flex;
  justify-content: center;
  background: #0e1b6b;
}
.side-menu-bar .list-container {
  height: calc(100% - 7rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-menu-bar img {
  width: 60%;
}
.side-menu-bar .active-page-text {
  font-size: 12px;
  padding: 16px 0 0 16px;
}
.side-menu-bar .MuiList-root {
  background: transparent;
}
.side-menu-bar .MuiListItemButton-root {
  width: 80%;
  margin: auto;
  border-radius: 4px;
}
.side-menu-bar .MuiListItemButton-root:hover {
  background: #2d366b;
}
.side-menu-bar .expand-able:hover {
  background: none !important;
}
.side-menu-bar .navbar-btn-active {
  margin: auto;
  width: 80%;
  border-radius: 4px;
  background: #2d366b;
}
.side-menu-bar .MuiListItemIcon-root {
  color: white;
}
.side-menu-bar .personal-info-container {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0 auto;
}
.side-menu-bar .personal-info-container .avatar-info > img {
  width: auto;
}
.side-menu-bar .personal-info-container .personal-info {
  display: flex;
  flex-direction: column;
}
.side-menu-bar .personal-info-container .personal-info .name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.side-menu-bar .personal-info-container .personal-info .email {
  font-size: 14px;
  font-weight: 400;
}

.main-nav {
  margin: 10px auto 0px 20px !important;
  width: 90% !important;
  margin-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 20px !important;
}
.main-nav .MuiListItemIcon-root {
  min-width: 35px;
}

.mt-10 {
  margin-top: 10px !important;
}

.top-bar-container {
  display: flex;
  width: 85%;
  flex-direction: row;
  max-width: calc(100% - 300px);
}

.auth-box-container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.auth-box-container .login-img {
  height: inherit;
  width: 50%;
  background-image: url("../../../public/loginBg.png");
  background-size: cover;
}
.auth-box-container .login-form-container {
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.auth-box-container .login-form-container img {
  width: 45%;
}
.auth-box-container .login-form-container .form-container {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-box-container .login-form-container .welcome-msg {
  font-size: 16px;
}
.auth-box-container .login-form-container .login-msg {
  font-size: 38px;
  font-weight: 700;
}
.auth-box-container .login-form-container .login-form {
  width: 50%;
}
.auth-box-container .login-form-container .login-form form {
  display: flex;
  flex-direction: column;
}
.auth-box-container .login-form-container .login-form form .MuiInputLabel-root {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
  color: black !important;
}
.auth-box-container .login-form-container .login-form form .options-container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.auth-box-container .login-form-container .login-form form .options-container .MuiFormControlLabel-label {
  font-size: 14px;
}
.auth-box-container .login-form-container .login-form form .login-field {
  width: 100%;
}
.auth-box-container .login-form-container .copyright {
  color: #6c757d;
  font-size: 16px;
  font-weight: 400;
  margin-top: 6rem;
}

.box-container {
  padding: 0 2rem;
  width: 85%;
  float: right;
  margin-top: 7rem;
  height: 100%;
  max-width: calc(100% - 300px);
}

body {
  background: white !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(236, 236, 236) !important;
}

* {
  font-family: "Roboto", sans-serif !important;
}/*# sourceMappingURL=index.css.map */