.float-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex !important;
}

.justify-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.p-10 {
  padding: 20px;
}

.align-center {
  align-items: center;
}

.pl-10 {
  padding-left: 10px;
}

.justify-end {
  justify-content: end !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-0 {
  margin: 0;
}

.table-container {
  float: right;
  margin-top: 5rem;
  width: 100%;
  max-width: calc(100% - 64px);
  transition: all 0.195s ease-in-out !important;
  height: 80vh;
  height: calc(100vh - 5rem);
}
.table-container .table-list {
  height: 100vh;
}
.table-container .MuiTableCell-root {
  padding: 5px 10px;
}

.table-container-open {
  float: right;
  margin-top: 5rem;
  width: 100%;
  max-width: calc(100% - 300px);
  transition: all 0.225s ease-in-out !important;
  height: 80vh;
  height: calc(100vh - 5rem);
}
.table-container-open .table-list {
  height: 100vh;
}
.table-container-open .MuiTableCell-root {
  padding: 5px 10px;
}

.table-pagination {
  position: sticky;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 2px solid #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-pagination .MuiTextField-root {
  margin: 0 1rem 0 0.5rem;
  outline: none !important;
  border: none !important;
  height: 2rem;
  width: 3rem;
}
.table-pagination .MuiTextField-root input {
  padding: 5px;
}
.table-pagination .MuiTextField-root input[type=number]::-webkit-inner-spin-button,
.table-pagination .MuiTextField-root input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
.table-pagination .MuiPaginationItem-previousNext {
  background: silver;
}
.table-pagination .Mui-selected,
.table-pagination .Mui-focusVisible {
  background: orange !important;
}

.primary-btn {
  min-width: 6rem !important;
  border-radius: 5px !important;
  border: none !important;
  box-shadow: none !important;
  background-color: #233eae !important;
}

.secondary-btn {
  text-transform: none !important;
  min-width: 5rem !important;
}

.error-btn {
  min-width: 5rem !important;
  text-transform: none !important;
  background-color: #dc2626 !important;
}

.load-more-btn {
  margin: 0 !important;
  outline: none !important;
  border: none !important;
  text-transform: none !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-decoration: underline !important;
  color: #6c757d !important;
  font-family: "Poppins", sans-serif !important;
}
.load-more-btn:hover {
  background-color: transparent !important;
  color: black !important;
}

.login-btn {
  background: #e86917 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: normal !important;
  border: none !important;
  min-height: 50px !important;
  text-transform: none !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.side-menu-bar {
  height: 100%;
  background: #383f51;
  color: #fff;
  background-image: url("../../../public/SideBar.png");
  background-size: cover;
}
.side-menu-bar .drawer-head {
  display: flex;
  justify-content: center;
  background: #0e1b6b;
}
.side-menu-bar .list-container {
  height: calc(100% - 7rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-menu-bar .list-container .toggler-btn {
  position: fixed;
  background: #1e2e8c;
  transition: all 0.195s ease-in-out !important;
}
.side-menu-bar .list-container .toggler-btn-open {
  position: fixed;
  background: #1e2e8c;
  transition: all 0.225s ease-in-out !important;
}
.side-menu-bar img {
  width: 60%;
}
.side-menu-bar .active-page-text {
  font-size: 12px;
  padding: 16px 0 0 16px;
}
.side-menu-bar .MuiList-root {
  background: transparent;
}
.side-menu-bar .MuiListItemButton-root {
  width: 80%;
  margin: auto;
  border-radius: 4px;
}
.side-menu-bar .MuiListItemButton-root:hover {
  background: #2d366b;
}
.side-menu-bar .expand-able:hover {
  background: none !important;
}
.side-menu-bar .navbar-btn-active {
  margin: auto;
  width: 80%;
  border-radius: 4px;
  background: #ffb526;
}
.side-menu-bar .MuiListItemIcon-root {
  color: white;
}
.side-menu-bar .personal-info-container {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0 auto;
}
.side-menu-bar .personal-info-container .avatar-info > img {
  width: auto;
}
.side-menu-bar .personal-info-container .personal-info {
  display: flex;
  flex-direction: column;
}
.side-menu-bar .personal-info-container .personal-info .name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.side-menu-bar .personal-info-container .personal-info .email {
  font-size: 14px;
  font-weight: 400;
}

.personal-info-containerOpenCase {
  display: flex;
  gap: 8px;
  padding-left: 2rem;
}
.personal-info-containerOpenCase .avatar-info > img {
  width: auto;
}
.personal-info-containerOpenCase .personal-info {
  display: flex;
  flex-direction: column;
}
.personal-info-containerOpenCase .personal-info .name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.personal-info-containerOpenCase .personal-info .email {
  font-size: 14px;
  font-weight: 400;
}

.main-nav {
  margin: 10px !important;
  width: 90% !important;
  margin-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 20px !important;
}
.main-nav .MuiListItemIcon-root {
  min-width: 35px;
}

.mt-10 {
  margin-top: 10px !important;
}

.top-bar-container-close {
  width: 85%;
  max-width: calc(100% - 64px);
  transition: all 0.195s ease-in-out !important;
}

.top-bar-container-open {
  width: 85%;
  max-width: calc(100% - 299px);
  transition: all 0.225s ease-in-out !important;
}

.auth-box-container {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: "Roboto", sans-serif;
}
.auth-box-container .login-img {
  height: inherit;
  width: 50%;
  background-image: url("../../../public/loginBg.png");
  background-size: cover;
}
.auth-box-container .login-form-container {
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.auth-box-container .login-form-container img {
  width: 45%;
}
.auth-box-container .login-form-container .form-container {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-box-container .login-form-container .welcome-msg {
  font-size: 16px;
}
.auth-box-container .login-form-container .login-msg {
  font-size: 38px;
  font-weight: 700;
}
.auth-box-container .login-form-container .login-form {
  width: 50%;
}
.auth-box-container .login-form-container .login-form form {
  display: flex;
  flex-direction: column;
}
.auth-box-container .login-form-container .login-form form .MuiInputLabel-root {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
  color: black !important;
}
.auth-box-container .login-form-container .login-form form .options-container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.auth-box-container .login-form-container .login-form form .options-container .MuiFormControlLabel-label {
  font-size: 14px;
}
.auth-box-container .login-form-container .login-form form .login-field {
  width: 100%;
}
.auth-box-container .login-form-container .copyright {
  color: #6c757d;
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  bottom: 50px;
}

.chatBackgroundImage {
  background-image: url("../../../public/AIChat.jpg");
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -o-object-fit: fill;
     object-fit: fill;
}

.conversationBox {
  width: 48%;
  background-color: #ffffff;
  height: 88vh;
  border-radius: 4px;
}

.suggestionBox {
  width: 30%;
  background-color: #ffffff;
  height: 88vh;
  border-radius: 4px;
}

.transcriptConversationBox {
  width: 65%;
  background-color: #ffffff;
  height: 80vh;
  border-radius: 4px;
  margin-left: 1rem;
}

.transcriptSuggestionBox {
  width: 31%;
  background-color: #ffffff;
  height: 80vh;
  border-radius: 4px;
}

.userAllConversation {
  padding-top: 25px;
  text-decoration: underline;
  padding-right: 30px;
}

.aisuggestion {
  color: #fff;
}

@media (min-width: 1400px) {
  .username {
    font-size: 28px !important;
    font-weight: 700 !important;
    line-height: 1 !important;
  }
  .userAllConversation {
    padding-top: 25px;
    text-decoration: underline;
    padding-right: 30px;
  }
  .userconversation {
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  .suggestion {
    font-size: 16px !important;
    line-height: 1.2rem !important;
  }
  .mikediv {
    background-color: #ffffff !important;
    font-size: 16px !important;
    color: #1b2b48 !important;
    border-left: 5px solid #0e1b6b !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 1 !important;
    padding: 4px !important;
    border-radius: 5px !important;
    margin: 0.1rem !important;
  }
  .aisuggestion {
    font-size: 26px !important;
    font-weight: 700 !important;
  }
  .displayname {
    font-size: 18px !important;
    line-height: 2.5rem !important;
    padding-left: 0.7rem !important;
  }
  .customer-ai-conversation {
    font-size: 16px !important;
  }
  .avatarsuggestion {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #0d082c;
  }
  .objection {
    color: #ffb526 !important;
    font-weight: bold !important;
    font-size: 16px !important;
  }
  .saletip {
    font-size: 13px !important;
    font-weight: bold !important;
    display: flex !important;
    line-height: 30px !important;
  }
}
@media (min-width: 1300px) and (max-width: 1400px) {
  .username {
    font-size: 25px !important;
    font-weight: 700 !important;
    line-height: 1 !important;
  }
  .userconversation {
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  .suggestion {
    font-size: 16px !important;
    line-height: 1.2rem !important;
  }
  .mikediv {
    background-color: #ffffff !important;
    font-size: 16px !important;
    color: #1b2b48 !important;
    border-left: 5px solid #0e1b6b !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 1 !important;
    padding: 4px !important;
    border-radius: 5px !important;
    margin: 0.1rem !important;
  }
  .aisuggestion {
    font-size: 22px !important;
    font-weight: 700 !important;
  }
  .displayname {
    font-size: 18px !important;
    line-height: 2.5rem !important;
    padding-left: 0.7rem !important;
  }
  .customer-ai-conversation {
    font-size: 16px !important;
  }
  .avatarsuggestion {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #0d082c;
  }
  .objection {
    color: #ffb526 !important;
    font-weight: bold !important;
    font-size: 16px !important;
  }
  .saletip {
    font-size: 13px !important;
    font-weight: bold !important;
    display: flex !important;
    line-height: 30px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .username {
    font-size: 26px !important;
    font-weight: 700 !important;
  }
  .userAllConversation {
    padding-top: 35px;
    text-decoration: underline;
    padding-right: 30px;
  }
  .userconversation {
    font-size: 10px !important;
    font-weight: 400 !important;
  }
  .suggestion {
    font-size: 12px !important;
    line-height: 1rem !important;
  }
  .mikediv {
    background-color: #ffffff !important;
    font-size: 12px !important;
    color: #1b2b48 !important;
    border-left: 3px solid #0e1b6b !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 1 !important;
    padding: 2px 3px !important;
    border-radius: 4px !important;
    margin: 0.1rem !important;
  }
  .aisuggestion {
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  .displayname {
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 2.5rem !important;
    padding-left: 0.3rem !important;
  }
  .customer-ai-conversation {
    font-size: 12px !important;
  }
  .avatarsuggestion {
    font-size: 12px !important;
    font-weight: 600 !important;
  }
  .objection {
    color: #ffb526 !important;
    font-weight: bold !important;
    font-size: 14px !important;
  }
}
.customscrollbar::-webkit-scrollbar {
  width: 5px;
}

.customscrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px 10px 0 0;
}

.customscrollbar::-webkit-scrollbar-thumb {
  background: #f1f7ff;
  height: 10px;
  border-radius: 10px;
}

.customscrollbar::-webkit-scrollbar-thumb:hover {
  background: #f1f7ff;
}

.userlist-default {
  padding: 0 2rem;
  width: 100%;
  margin-left: 4rem;
  margin-top: 4rem;
  height: 91vh;
  padding-top: 1rem;
  max-width: calc(100% - 64px);
  background-color: #f4f5f8;
  transition: all 0.195s ease-in-out !important;
}

.userlist-open {
  padding: 0 2rem;
  width: 85%;
  margin-left: 18.7rem;
  margin-top: 4rem;
  height: 91vh;
  padding-top: 1rem;
  max-width: calc(100% - 300px);
  background-color: #f4f5f8;
  margin-bottom: 1rem;
  transition: all 0.225s ease-in-out !important;
}

.box-container {
  padding: 0 2rem;
  width: 85%;
  float: right;
  margin-top: 7rem;
  height: 100%;
  max-width: calc(100% - 300px);
}

body {
  background: white !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(236, 236, 236) !important;
}

* {
  font-family: "Roboto", sans-serif !important;
}/*# sourceMappingURL=index.css.map */